body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 20px;
    color: #424242;
    line-height: 28px;
}

/* ======== common css end ======== */
section {
    margin-bottom: 90px;
}

#menu_part {
    padding: 0 40px;
    background-attachment: fixed;
    background: #FFFFFF;

}

.main_menu {
    display: flex;
    justify-content: space-between;
}

.main_menu .logo {
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #B2385E;
    font-size: 35px;
    font-weight: 700;
}

.main_menu ul {
    display: flex;

}

.main_menu ul li a {
    padding: 5px 15px;
    color: #B2385E;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    margin-left: 25px;

}

/* =============== menu part end ============ */
.flexible_container {
    display: flex;
}

.max_width {
    width: 55%;
    padding-left: 5%;
}

.min_width {
    width: 35%;
    padding-left: 5%;
}

.flexible_container img {
    width: 70%;
}

#banner_part {
    padding: 80px 0;
    background: url('../images/person/header-bg.png');
    background-attachment: fixed;
    background-size: cover;
}

#banner_part h1 {
    color: #333333;
    font-family: 'Yeseva One', cursive;
    border-left: 5px solid #FF5959;
    padding-left: 10px;

}

#banner_part h1 span {
    display: block;
    color: #FF5959;
}

#banner_part p {
    width: 400px;
    line-height: 28px;
    margin: 30px 0;
}

#banner_part h5 {
    color: #434343;
    margin-top: 35px;
}

.link_btn {
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(to right, #B2385E, #E72A40);
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;

}

/* ================ banner part end =========== */
.planning_title {
    text-align: center;
}

.planning_title span {
    color: #FF5959;
}

#planning_part {
    padding: 0 50px;
}

#planning_part img {
    width: 32%
}

#planning_part h3 {
    font-size: 22px;
    color: #000;
}

.mission_part {
    width: 30%;
    margin-right: 20px;
    padding: 20px;
    background: rgba(81, 165, 174, 0.3);
    border-radius: 30px;
}

.vission_part {
    width: 30%;
    margin-right: 20px;
    padding: 20px;
    background: rgba(255, 89, 89, 0.3);
    border-radius: 30px;
}

.goals_part {
    width: 30%;
    margin-right: 20px;
    padding: 20px;
    background: rgba(37, 107, 23, 0.5);
    border-radius: 30px;
}

/* ============ planning part end ============  */

#develop_part {
    display: flex;
    padding: 30px 0 90px;


}

#develop_part img {
    width: 100%;
    height: 400px;
}

.shape {
    width: 30px;
    height: 30px;
    border: 5px solid;
    border-image: linear-gradient(to right, #B2385E, #E72A40);
    border-image-slice: 1;
    transform: rotate(45deg);
    margin: 40px 0 20px;
}

.develop_text h2 {
    color: #333;
}

.develop_text h2 span {
    display: block;
}

.develop_text p {
    padding-right: 50px;
}

/* ============== develop part end =========== */

#global_part {
    display: flex;
    padding: 0 40px;
}

#global_part img {
    width: 100%;
    height: 400px;
}

.global_text h2 {
    color: #333;
}

.global_text h2 span {
    display: block;
}

.global_text p {
    padding-right: 50px;
}

/* =============== global part end ========== */
#contact_part {
    padding: 30px 0 90px;
    background: url(../images/person/cover2.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-bottom: 0;

}

.contact_text {
    text-align: center;

}

.contact_text h2 {
    color: black;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;

}

.contact_form {
    display: inline-block;
    text-align: center;
}

.contact_form input {
    display: block;
    width: 555px;
    height: 55px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 20px;
    padding-left: 20px;
}

.contact_form input:nth-child(3) {
    width: 555px;
    height: 155px;
    padding-top: 0;

}

.contact_form button {
    padding: 10px 40px;
    text-align: center;
    border: 0;
    background: linear-gradient(to right, #B2385E, #E72A40);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;

}

.contact_form button {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;

}

::placeholder {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

/* =================== contact part end =================== */
#footer_part {
    padding: 40px 0;
    background: #191919;
    text-align: center;
}

#footer_part h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #B2385E;


}

#footer_part h3 span {
    color: #f1f1f1
}

#footer_part p {
    color: #ddd;
    font-size: 15px;
}

/* ================= footer part end ============ */