body {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
}

a {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 18px;
    color: #3E3E3E;
}



/* ======== common css end ======== */

.flexible_container {
    display: flex;
}

.half_width {
    width: 45%;
    padding-left: 5%;
}

.flexible_container img {
    width: 80%;
}

.banner_text {
    padding-top: 110px;
}

#banner_part h1 {
    color: #333333;
    font-family: 'Yeseva One', cursive;
    border-left: 5px solid #FF5959;
    padding-left: 10px;

}

#banner_part h1 span {
    display: block;
    color: #FF5959;
}

#banner_part p {
    width: 400px;
    line-height: 28px;
    margin: 30px 0;
}

#banner_part h5 {
    color: #434343;
}

.link_btn {
    /* padding: 10px 15px;
    background: #FF5959;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff; */
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(to right, #B2385E, #E72A40);
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;

}

/* ================ banner part end =========== */